*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Navigation bar */
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__name {
  font-size: 4rem;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
}

.nav__item > a {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
  }
}

/* list items */
.list {
  list-style: none;
  padding-left: 0;
}

.list--tick {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.list__container {
  display: flex;
  justify-content: center;
}

.list--tick .list__item {
  list-style: none;
  padding-left: 4rem;
  width: calc(50% - 20px);
  position: relative;
}

.list__item {
  margin-bottom: 2rem;
}

.list--tick .list__item::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-image: url("/assets/checkmark.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}

.experience__heading,
.experience__body {
  margin: 0;
}

.experience__heading {
  margin-bottom: 0.5rem;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Box */
.box {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1.5rem;
  display: inline-block;
}

.box--about {
  text-align: center;
}

.box--image {
  border: 0;
}

.box__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box--experience {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  gap: 2rem;
}

/* Container */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* title */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.title__paragraph {
  font-size: 1.5rem;
  color: rgb(85, 85, 85);
  margin-bottom: 0;
}

.title__header {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

.role {
  text-align: center;
  color: #474747;
  margin-top: 0;
  font-size: 2rem;
}

@media screen and (min-width: 1200px) {
  .title__header {
    font-size: 3.5rem;
  }

  .role {
    font-size: 3rem;
  }
}

/* Buttons */
.btn {
  border: 1px solid #ccc;
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #000;
  cursor: pointer;
  color: white;
}

.btn--main {
  background: #272626;
  color: white;
}

.btn--main:hover {
  background: #000;
}

/* Grid */
.grid {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 1200px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 500px) {
  .grid--1x2-small {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Images */

.image--container {
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;
  height: 46vw;
  max-width: 400px;
}

.image--container > img {
  width: 100%;
}

.image--radius {
  border-radius: 4rem;
}

.image > img {
  width: 100%;
}

.icon {
  height: 2rem;
}

@media screen and (min-width: 476px) {
  .image--container {
    width: 210.219px;
    height: 210.219px;
  }
}

@media screen and (min-width: 1200px) {
  .image--container {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .image--container {
    width: 400px;
    height: 400px;
  }
}

/* Clicable */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* Hero block */
.hero__header {
  justify-self: center;
  align-self: center;
}

.hero__content {
  justify-self: center;
  align-self: center;
}

.icon-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
}

@media screen and (min-width: 1200px) {
  .hero__content {
    justify-self: left;
  }

  .hero__header {
    justify-self: right;
  }

  .hero .grid--1x2 {
    gap: 4rem;
  }
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

/* experience */
.experience {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 947px) {
  .list--tick .list__item {
    width: auto;
  }

  .list--tick {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .list--tick .list__item {
    width: calc(50% - 2rem);
  }
}
@media screen and (min-width: 1572px) {
  .list--tick .list__item {
    width: calc(33.33% - 1rem);
  }
}

/* Projects */
.project__content {
  display: flex;
  justify-content: center;
}

.project__image--container > img {
  width: 100%;
}

@media screen and (min-width: 678px) {
  .grid--2x3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }

  .grid--span {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1145px) {
  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--span {
    grid-column: span 1;
  }
}

/* About */
.about--image {
  justify-self: center;
  align-self: center;
}

.about--content {
  align-self: center;
}

/* footer */
.list__item a {
  text-decoration: none;
  color: #000;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__label {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .footer__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* contact */
.box--contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.contact__span {
  padding-left: 0.5rem;
  text-align: center;
}

.contact__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  max-width: 400px;
}
