<section class="block about">
  <div class="container grid grid--1x2">
    <div class="about--image">
      <div class="image--container">
        <img class="image--radius" src="/assets/about-pic.png" alt="" />
      </div>
    </div>
    <div class="about--content">
      <div class="grid grid--1x2-small">
        <div class="box box--about">
          <img class="icon" src="/assets/experience.png" alt="" />
          <h2 class="experience__heading">Experience</h2>
          <p class="experience__body">
            2+ years
            <br />
            Frontend Development
          </p>
        </div>
        <div class="box box--about">
          <img class="icon" src="/assets/experience.png" alt="" />
          <h2 class="experience__heading">Education</h2>
          <p class="experience__body">
            BSC. Bachelor Degree
            <br />
            MSC. Master Degree
          </p>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque pariatur
        molestiae dolor voluptate repellat eos ea, nisi commodi, sequi
        reiciendis dolorum? Necessitatibus placeat facere nam, consectetur
        dolores at vitae velit.
      </p>
    </div>
  </div>
</section>
