<section class="block">
  <div class="container contact">
    <div class="title">
      <p class="title__paragraph">Get in Touch</p>
      <h1 class="title__header">Contact me</h1>
    </div>
    <div class="box box--contact">
      <div class="contact__group">
        <img class="icon" src="/assets/email.png" alt="" />
        <span class="contact__span">amarteifioenoch4@gmail.com</span>
      </div>
      <div class="contact__group">
        <img class="icon" src="/assets/linkedin.png" alt="" />
        <span class="contact__span">enoch-amart</span>
      </div>
    </div>
  </div>
</section>
