<section class="block experience">
  <div class="container grid grid--1x2 grid--1x2-small">
    <article class="box box--experience">
      <h2 class="role">Frontend Development</h2>
      <div class="list__container">
        <ul class="list list--tick">
          <li class="list__item">
            <div class="list--experience">
              <h2 class="experience__heading">HTML</h2>
              <p class="experience__body">Experienced</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list--experience">
              <h2 class="experience__heading">SAAS</h2>
              <p class="experience__body">Intermediate</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list--experience">
              <h2 class="experience__heading">TypeScript</h2>
              <p class="experience__body">Basic</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list--experience">
              <h2 class="experience__heading">CSS</h2>
              <p class="experience__body">Experienced</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list--experience">
              <h2 class="experience__heading">JavaScript</h2>
              <p class="experience__body">Basic</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list--experience">
              <h2 class="experience__heading">Material UI</h2>
              <p class="experience__body">Intermediate</p>
            </div>
          </li>
        </ul>
      </div>
    </article>
    <article class="box box--experience">
      <h2 class="role">Backend Development</h2>
      <div class="list__container">
        <ul class="list list--tick">
          <li class="list__item">
            <div class="list--experience">
              <h2 class="experience__heading">MySQL</h2>
              <p class="experience__body">Basic</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list--experience">
              <h2 class="experience__heading">Node JS</h2>
              <p class="experience__body">Intermediate</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list--experience">
              <h2 class="experience__heading">Express Js</h2>
              <p class="experience__body">Intermediate</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list--experience">
              <h2 class="experience__heading">Git</h2>
              <p class="experience__body">Intermediate</p>
            </div>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
