<section class="block hero">
  <div class="container grid grid--1x2">
    <div class="hero__header">
      <div class="image--container">
        <img src="/assets/profile-pic.png" alt="" />
      </div>
    </div>
    <div class="hero__content">
      <div class="title">
        <p class="title__paragraph">Hello I'm</p>
        <h1 class="title__header">Enoch Amarteifio</h1>
      </div>
      <h2 class="role">Frontend Developer</h2>
      <div class="buttons">
        <button class="btn">Download CV</button>
        <button class="btn btn--main">Contact Info</button>
      </div>
      <div class="icon-group">
        <img class="icon" src="/assets/linkedin.png" alt="" />
        <img class="icon" src="/assets/github.png" alt="" />
      </div>
    </div>
  </div>
</section>
