<ul class="list list--tick">
  <li class="list__item">hello</li>
  <li class="list__item">byee</li>
  <li class="list__item">awesome</li>
</ul>

<!-- list tick -->
<ul class="list list--tick">
  <li class="list__item">
    <div class="list--experience">
      <h2 class="experience__heading">HTML</h2>
      <p class="experience__body">Experienced</p>
    </div>
  </li>
  <li class="list__item">
    <div class="list--experience">
      <h2 class="experience__heading">HTML</h2>
      <p class="experience__body">Experienced</p>
    </div>
  </li>
  <li class="list__item">
    <div class="list--experience">
      <h2 class="experience__heading">HTML</h2>
      <p class="experience__body">Experienced</p>
    </div>
  </li>
  <li class="list__item">
    <div class="list--experience">
      <h2 class="experience__heading">HTML</h2>
      <p class="experience__body">Experienced</p>
    </div>
  </li>
</ul>
