<section class="block projects">
  <div class="container grid grid--2x3">
    <article class="box">
      <div class="project__element">
        <div class="project__image--container">
          <img class="image--radius" src="/assets/project-1.png" alt="" />
        </div>
        <h2 class="title__header">Project one</h2>
        <div class="buttons">
          <button class="btn">GitHub</button>
          <button class="btn">Live Demo</button>
        </div>
      </div>
    </article>
    <article class="box">
      <div class="project__element">
        <div class="project__image--container">
          <img class="image--radius" src="/assets/project-2.png" alt="" />
        </div>
        <h2 class="title__header">Project Two</h2>
        <div class="buttons">
          <button class="btn">GitHub</button>
          <button class="btn">Live Demo</button>
        </div>
      </div>
    </article>
    <article class="box grid--span">
      <div class="project__element">
        <div class="project__image--container">
          <img class="image--radius" src="/assets/project-3.png" alt="" />
        </div>
        <h2 class="title__header">Project Three</h2>
        <div class="buttons">
          <button class="btn">GitHub</button>
          <button class="btn">Live Demo</button>
        </div>
      </div>
    </article>
  </div>
</section>
